<numeric-input [value]="firstOperand" id="firstOperand"></numeric-input>
<numeric-input [value]="secondOperand" id="secondOperand"></numeric-input>
<function-button
    [firstOperand]="firstOperand"
    [secondOperand]="secondOperand"
    [action]="add2"
    (output)="output($event)"
>
    +
</function-button>
<button (click)="add()">+</button>
<button (click)="subtract()">-</button>
<button (click)="multiply()">*</button>
<button (click)="divide()">/</button>
<label>{{displayValue.value}}</label>
